# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Power BI temporary files
*.pbix.autosave

# OS Files
Thumbs.db
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log